<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="adminstyle.css">
</head>
<body>
<form name="admin" action="/admin" method="POST">
<div class="header">
<div style="text-align: center;"><img src="/images/adminlogo.png" alt="adminlogo">
    <h1>This is Admin Panel, Please procced with caution!</h1>
</div>

</div>

<div class="sidebar">
<ul>
    <li><a href="/addUser">Add User</a></li>
    <li><a href="/deleteUser">Delete User</a></li>
    <li><a href="/updateUser"> Update User</a></li>
</ul>

</div>

<div class="Data">
    <div style="text-align: center;"> <Br><h1> Text felt.. </h1>
    </div>
</div>

</form>
</body>
</html>