<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="adminstyle.css">
</head>
<body>
<div class="header">
   <h1>This is Admin Panel, Please procced with caution!</h1>
</div>


    <div class="sidebar">
        <ul>
            <li><a href="/addUser">Add User</a></li>
            <li><a href="/deleteUser">Delete User</a></li>
            <li><a href="/updateUser"> Update User</a></li>
        </ul>
    </div>

<div class="data">
    <div style="text-align: center">
        <ul th:each="user : ${users}">
            <li><h1  th:text="${user.email}"></h1><h2 th:text="${user.firstName}"></h2><h2 th:text="${user.lastName}"></h2></li>
        </ul>
    </div>
</div>
<div class="footer">
    <p> WWW.DATING.COM • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@DATING.COM • TLF: +45 46 46 07 00 </p>
</div>

</body>
</html>