<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="adminstyle.css">
    <link rel="stylesheet" href="primarystyle.css">
    <script src="https://kit.fontawesome.com/00d69adb96.js" crossorigin="anonymous"></script>
</head>
<body>

<!-- admin header -->
<header>
    <h1>Manage Profiles</h1>
</header>

<div class="left-content">
    <!-- admin profile pic and name-->
    <div class="my-profile">
        <div class="my-picture">
            <img src="https://www.flaticon.com/svg/static/icons/svg/2522/2522138.svg" alt="Admin Profile Picture" height="100%" width="100%">
        </div>
        <h1>Admin</h1>
    </div>

    <!-- navigation menu -->
    <div class="sidenav">
        <a href="/"><i class="fas fa-sign-out-alt"></i></i>Log out</a>
    </div>
</div>

<!-- main content middle-->
<div class="main-content">
    <div class="table-content">

        <form method="POST" action="/removeUsers">
            <!-- table list of users-->
            <table>
                <!-- table header -->
                <thead>
                <tr>
                    <!-- empty space above pictures -->
                    <th style="width: 8vw"></th>
                    <th colspan="2" style="width: 12vw">
                        <h1>name</h1>
                    </th>
                    <!-- headline -->
                    <th style="width: 15vw">
                        <h1>e-mail</h1>
                    </th>
                    <!-- headline -->
                    <th style="width: 10vw">
                        <h1>phone nr.</h1>
                    </th>
                    <!-- headline -->
                    <th style="width: 10vw">
                        <h1>birthday</h1>
                    </th>
                    <!-- headline -->
                    <th style="width: 7vw">
                        <h1>gender</h1>
                    </th>
                    <!-- empty space above button -->
                    <th style="width: 3vw"></th>
                </tr>
                </thead>

                <!-- table body -->
                <tbody>
                <!-- display info for each user in userlist-->
                <tr th:each="user : ${userlist}">
                    <td class="user-picture">
                        <img src="https://freesvg.org/img/abstract-user-flat-4.png" width="100%" height="100%">
                    </td>
                    <td colspan="2">
                        <h2 th:text="${user.firstName}"></h2>
                        <h2 th:text="${user.lastName}"></h2>
                    </td>
                    <td>
                        <h2 th:text="${user.email}"></h2>
                    </td>
                    <td>
                        <h2 th:text="${user.phone}"></h2>
                    </td>
                    <td>
                        <h2 th:text="${user.birthDate}"></h2>
                    </td>
                    <td>
                        <h2 th:text="${user.gender}"></h2>
                    </td>
                    <td>
                        <!-- delete button -->
                        <input type="hidden" name="userId" th:value="${user.id}">
                        <button class="button"><i class="fas fa-user-slash"></i></button>
                    </td>
                </tr>
                </tbody>

            </table>
        </form>
    </div>
</div>
</form>

<div class="footer"></div>

</body>
</html>