<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="primarystyle.css">
    <link rel="stylesheet" href="inputstyle.css">
    <script src="https://kit.fontawesome.com/00d69adb96.js" crossorigin="anonymous"></script>
</head>
<body>


<!-- top content header -->
<header>
    <h1>Dating.com</h1>
</header>

<div class="left-content">
    <!-- users profile pic and name-->
    <div class="my-profile">
        <div class="my-picture">
            <!--
            <img src="" alt=" My profile picture" height="100%" width="100%">
            -->
        </div>
        <h1 th:text="${firstName}"></h1>
        <h1 th:text="${lastName}"></h1>

    </div>

    <!-- page navigation menu-->
    <div class="sidenav">
        <a href="/profile"><i class="fas fa-users"></i></i>Explore</a>
        <a href="/messages"><i class="fas fa-comments"></i>Messages</a>
        <a href="/favorites"><i class="fas fa-heart"></i>Favorites</a>
        <a href="#popup"><i class="fas fa-user-edit"></i>Edit profile</a>
        <a href="/"><i class="fas fa-sign-out-alt"></i></i>Log out</a>
    </div>
</div>

<!-- main content middle-->
<div class="main-content">
    <div class="table-content">
        <table>
            <thead>
            <tr>
                <th style="width: 8vw"></th>
                <th colspan="2" style="width: 15vw">
                    <h1>name</h1>
                </th>
                <th style="width: 6vw">
                    <h1>age</h1>
                </th>
                <th style="width: 6vw">
                    <h1>likes</h1>
                </th>
                <th>
                    <h1>about me</h1>
                </th>
                <th style="width: 3vw" colspan="2"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${userlist}">
                <td class="user-picture">
                    <img src="https://freesvg.org/img/abstract-user-flat-4.png" width="100%" height="100%">
                    <!-- Get img from database instead-->
                </td>
                <td colspan="2">
                    <h2 th:text="${user.firstName}"></h2>
                    <h2 th:text="${user.lastName}"></h2>
                </td>
                <td>
                    <h2 th:text="${user.birthDate}"></h2>
                </td>
                <td>
                    <h3 th:text="${user.tag}"></h3>
                </td>
                <td>
                    <div class="user-describtion">
                        <p th:text="${user.aboutme}"></p>
                    </div>
                </td>
                <td colspan="2">
                    <button class="button"><i class="fas fa-heart"></i></button>
                    <button class="button"><i class="fas fa-comments"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- edit profile modal window-->
<div id="popup" class="overlay">
    <div class="popup">
        <h1>Edit profile</h1>
        <a class="close" href="#">&times;</a>
        <div class="popup-content">
            <form name="editProfile" action="/editProfile" method="POST">
                <div class="flex-container">
                    <div class="input-halfwidth">
                        <h2><label for="firstName">First Name</label></h2>
                        <input type="text" id="firstName" name="firstName" th:value="${firstName}" readonly>
                    </div>

                    <!-- last name input -->
                    <div class="input-halfwidth">
                        <h2><label for="lastName">Last name</label></h2>
                        <input type="text" id="lastName" name="lastName" th:value="${lastName}" readonly>
                    </div>

                    <!-- email input -->
                    <div class="input-fullwidth">
                        <h2><label for="email">E-mail</label></h2>
                        <input type="text" id="email" name="email" th:value="${email}">
                    </div>

                    <div class="input-fullwidth">
                        <h2><label for="phone">Phone Number </label></h2>
                        <input type="number" id="phone" name="phone" class="no-arrow" th:value="${phone}">
                    </div>

                    <!-- choose gender -->
                    <div class="input-fullwidth">
                        <h2><label for="gender">Gender</label></h2>
                        <input type="text" id="gender" name="gender" th:value="${gender}" readonly>
                    </div>

                    <!-- choose date of birth-->
                    <div class="input-fullwidth">
                        <h2><label for="birthDate">Birthday</label></h2>
                        <input type="date" id="birthDate" name="birthDate" th:value="${birthDate}" readonly>
                    </div>

                    <!-- user description/about me -->
                    <div class="input-fullwidth">
                        <h2><label for="aboutme">About You</label></h2>
                        <textarea id="aboutme" name="aboutme" th:text="${aboutme}"></textarea>
                    </div>

                    <!-- choose tag -->
                    <div class="input-fullwidth">
                        <h2><label for="tag">Pick one subject you really like</label></h2>
                        <select id="tag" name="tag">
                            <option value="Sport">Sport</option>
                            <option value="Traveling">Traveling</option>
                            <option value="Cooking">Cooking</option>
                            <option value="Music">Music</option>
                            <option value="Gaming">Gaming</option>
                            <option value="Dancing">Dancing</option>
                            <option value="Reading">Reading</option>
                            <option value="Movies/Series">Movies/Series</option>
                        </select>
                    </div>

                    <!-- password input -->
                    <div class="input-halfwidth">
                        <h2><label for="password1">New Password</label></h2>
                        <input type="password" id="password1" name="password1">
                    </div>
                    <!-- repeat password-->
                    <div class="input-halfwidth">
                        <h2><label for="password2">Retype Password</label></h2>
                        <input type="password" id="password2" name="password2">
                    </div>

                    <!-- Error output test -->
                    <div class="input-fullwidth">
                        <h2 style="text-align: center" th:text="${errorMsg}"></h2>
                    </div>

                    <!-- Save changes -->
                    <div class="input-fullwidth">
                        <input type="submit" class="button" onclick="return confirm('Submit information?')" value="save change">
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
</div>


<!-- search content right side-->
<div class="right-content">
    <!-- search header-->
    <div class="search-header">
        <h1><i class="fas fa-search"></i>search</h1>
    </div>

    <!-- search drop down option-->
    <div class="search-box">
        <h1>Likes</h1>
        <select>
            <option th:each="tag : ${tags}" th:value="${tag}"><p th:text="${tag}"></p></option>
        </select>
        <input type="submit" class="button" value="submit">
    </div>
</div>
</div>


<!-- footer content-->
<div class="footer">
    <p> WWW.DATING.COM • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@DATING.COM • TLF: +45 46 46 07 00 </p>
</div>


</body>
</html>