<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Deleted</title>
    <link rel="stylesheet" href="adminstyle.css">
</head>
<body>

<!-- BENYTTES IKKE -->

<div class="header">
    <h1>This is Admin Panel, Please procced with caution!</h1>
</div>
<div class="sidebar">
    <ul>
        <li><a href="/admin">Return to Admin page</a></li>
    </ul>
</div>

<div class="data">
    <div style="text-align: center;"> <Br><h3>  You have now deleted user with the following info: </h3>

        <div class="tekstboks">
            <h5>Name<br></h5> <a th:text="${name}"></a>
        </div>
        <div class="tekstboks">
            <h5>Last name<br></h5><a th:text="${lastName}"></a>
        </div>
        <div class="tekstboks">
            <h5>E-mail<br></h5><a th:text="${email}"></a>
        </div>
        <div class="tekstboks">
            <h5>Phone </h5><a th:text="${phone}"></a>
        </div>
        <div class="tekstboks">
            <input type="submit" onclick="myFunktion()" value="Afslut">
        </div>


    </div>
</div>
<script>
    function myFunktion() {
        window.open("/admin");
    }
</script>
<!-- footer content-->
<div class="footer">
    <p> WWW.DATING.COM • LYGTEN 37, 2400 KØBENHAVN NV• E-MAIL: INFO@DATING.COM • TLF: +45 46 46 07 00 </p>
</div>

</body>
</html>