body {
    margin: 0px;
    border: 0px;
}
.header{
    width: 100%;
    height: 120px;
    background: black;
    color: white;
}

.sidebar{
    left: 0;
    position: fixed;
    width: 17vw;
    top: 7vw;
    bottom: 1vw;
    background:#520404;
    z-index: 95;

}

.Data{
    height: 1000px;
    background: linear-gradient(to bottom right, #000000 0%, #450303 100%);
    color: white;
    font-family: "Brush Script MT", Brush Script Std, cursive;
    font-size: 25px;
}
.Data p{
    height: 1000px;
    background: linear-gradient(to bottom right, #000000 0%, #450303 100%);
    color: white;
    font-family: "Brush Script MT", Brush Script Std, cursive;
    font-size: 5px;

}
.adminlogo{
    background: white;
    border-radius: 50%;
}

ul li{
    padding: 20px;
    border-bottom: 2px solid gray;
}
ul li:hover{
    background: #8f0606;
    color: white;
}
/*Footer content -----------------------------------------------------------------------------------------------------*/
.footer{
    position: fixed;
    width: 100%;
    height: 1vw;
    bottom: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://eskipaper.com/images/flower-rose-red-petals-1.jpg");
    z-index: 99;
}

.footer p {
    color: white;
    font-size: 0.75vw;
    text-align: center;
    letter-spacing: 0.2vw;
}