* {
    margin: 0;
    padding: 0;
}

body {
    height: auto;
    overflow-y: scroll;
}

/*Header content -----------------------------------------------------------------------------------------------------*/
header{
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://eskipaper.com/images/flower-rose-red-petals-1.jpg");
    width: 100%;
    height: 7vw;
    position: fixed;
    z-index: 99;
}

header h1{
    color: white;
    font-size: 5vw;
    font-family: "Brush Script MT", Brush Script Std, cursive;
    text-align: center;
}

/*Side navigation content -------------------------------------------------------------------------------------------*/
.left-content{
    left: 0;
    position: fixed;
    width: 17vw;
    top: 7vw;
    bottom: 1vw;
    background: linear-gradient(to bottom right, #000000 0%, #450303 100%);
    z-index: 95;
}

.my-profile{
    height: 15vw;
    width: 100%;
    padding-top: 1vw;
}

.my-picture{
    height: 8vw;
    width: 8vw;
    margin: auto;
    border:0.2vw solid white;
    background-color: white;
    border-radius: 50%;
}

img{
    border-radius: 50%;
    object-fit: cover;
}

.my-profile h1{
    color: white;
    font-size: 1.5vw;
    text-transform: capitalize ;
    text-align: center;
    padding: 0.5vw;
    background-color: #520404;
    margin-top: 0.5vw;
}


.sidenav {
    height: 100%;
    width: 100%;
    padding-top: 1vw;
}

.sidenav a {
    color: white;
    text-align: justify;
    text-decoration: none;
    font-size: 1.8vw;
    padding-left:2.5vw;
    margin-bottom: 2vw;
    display: block;
}

.sidenav i {
    padding-right: 0.5vw;
}

:root {
    --mainColor: #8f0606;
}

.sidenav a:hover {
    background:
            linear-gradient(
                    to right,
                    var(--mainColor) 0%,
                    var(--mainColor) 1vw,
                    transparent
            );
}

/*Main content -------------------------------------------------------------------------------------------------------*/
.main-content{
    height: auto;  /*AUTO*/
    top:7vw;
    position: relative;
    margin: auto;
    width: 100%;
}

.table-content {
    width: 63%;
    height: auto;
    margin: auto;
    border-right:0.3vw solid black;
    border-left:0.3vw solid black;
}

.table-content table {
    table-layout: fixed;
    width: 100%;
    height: auto;
    border-spacing: 2vw;
    border-collapse: separate;
    background: linear-gradient(to bottom, #000000 0%, #450303 100%);
}



.table-content thead {
    width: auto;
    height: 3vw;
    font-size: 1.5vw;
    font-variant: small-caps;
    color: black;
    empty-cells: hide;
}


.table-content tbody {
    width: auto;
    height: auto;
    color: white;
}

.table-content h1 {
    font-size: 2vw;
    color: white;
    border-bottom: 0.2vw solid #520404;
}

.table-content h2 {
    font-size: 1.5vw;
    text-align: center;
    text-transform: capitalize;
}

.table-content h3 {
    font-size: 1vw;
    text-align: center;
    background-color: lightgray;
    width: 100%;
    height: auto;
    color: black;
    padding: 0.3vw;
    border-radius: 50%;
}

td {
    word-break: break-word;
}

.user-picture{
    height: 8vw;
    width: 8vw;
    border-radius: 50%;
    margin: auto;
    border:0.2vw solid white;
    background-color: white;
}

.user-describtion{
    margin: auto;
    height:8vw;
    width:100%;
    background-color: white;
    color: black;
    overflow-y: auto;
}

.user-describtion p {
    font-size: 1vw;
    word-wrap: break-word;
    margin: 1vw;
}

.overlay {
    position: fixed;
    top: 7vw;
    bottom: 1vw;
    left: 18vw;
    right: 18vw;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    top: 3vw;
    margin: auto;
    padding: 2vw;
    border-radius: 5px;
    width: 35%;
    height: 30vw;
    position: relative;
    transition: all 1s ease-in-out;
    background-color: white;
    overflow-x: hidden;
}

.popup h1 {
    width: 100%;
    height: auto;
    font-size: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    font-variant: small-caps;
    border-bottom: 0.2vw solid #520404;
    text-align: center;
}

.popup-content{
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    padding:0.3vw;
}

.popup-content p {
    font-size: 1vw;
    text-align: justify;
    color: black;
}

.popup .close {
    position: absolute;
    top: 0.5vw;
    right: 1.5vw;
    transition: all 200ms;
    font-size: 3vw;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

.popup .close:hover {
    color: darkred;
}

.button:hover {
    background-color: #525453;
}

/*right side search content ------------------------------------------------------------------------------------------*/
.right-content{
    right: 0;
    position: fixed;
    width: 17vw;
    top: 7vw;
    bottom: 1vw;
    background: linear-gradient(to bottom left, #000000 0%, #450303 100%);
    color: white;
    text-align: center;
    z-index: 95;
}

.search-header{
    height: 8vw;
    width: 100%;
    padding-top: 1vw;
}

.search-header h1{
    font-size: 1.5vw;
    background-color: #520404;
    margin-top: 3vw;
    font-variant: small-caps;
    font-family: "Arial Black", Gadget, sans-serif;
}

.search-box{
    height: 100%;
    width: 100%;
}

.search-box h1 {
    font-size: 1.2vw;
}

input[type=text], select {
    width: 70%;
    box-sizing: border-box;
    font-size: 0.8vw;
    padding: 0.3vw;
    margin-bottom: 1vw;
    border:0.2vw solid black;
}

.table-content button{
    background-color: #520404;
    border: none;
    padding: 0.8vw;
    color: white;
    text-decoration: none;
    font-size: 1vw;
    border-radius: 1vw;
    font-variant: small-caps;
    margin-top: 0.5vw;
}

/*Footer content -----------------------------------------------------------------------------------------------------*/
.footer{
    position: fixed;
    width: 100%;
    height: 1vw;
    bottom: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("https://eskipaper.com/images/flower-rose-red-petals-1.jpg");
    z-index: 99;
}

.footer p {
    color: white;
    font-size: 0.75vw;
    text-align: center;
    letter-spacing: 0.2vw;
}