<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Create Profile</title>
    <link rel="stylesheet" href="welcomestyle.css">
    <link rel="stylesheet" href="inputstyle.css">
</head>
<body>

<div class="bg">
    <!-- Background video -->
    <video autoplay muted loop id="bgVideo">
        <source src="https://static.videezy.com/system/resources/previews/000/043/636/original/200206ValentineHM08.mp4" type="video/mp4">
    </video>

    <div class="content-login">

        <h1>Create Profile</h1>
        <form name="register" action="/register" method="POST">
            <div class="flex-container">

                <!-- first name input -->
                <div class="input-halfwidth">
                    <h2><label for="firstName">First Name</label></h2>
                    <input type="text" id="firstName" name="firstName" placeholder="Write your first name..." required>
                </div>

                <!-- last name input -->
                <div class="input-halfwidth">
                    <h2> <label for="lastName">Last name</label></h2>
                    <input type="text" id="lastName" name="lastName" placeholder="Write your last name...." required>
                </div>

                <!-- email input -->
                <div class="input-fullwidth">
                    <h2><label for="email">E-mail</label></h2>
                    <input type="text" id="email" name="email" placeholder="Your e-mail address..." value="" required>
                </div>

                <!-- phone nr input -->
                <div class="input-fullwidth">
                    <h2><label for="phone">Phone Number </label></h2>
                    <input type="number" id="phone" name="phone" class="no-arrow" required>
                </div>

                <!-- choose gender -->
                <div class="input-fullwidth">
                    <h2><label for="gender">Gender</label></h2>
                    <select id="gender" name="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </div>

                <!-- choose date of birth-->
                <div class="input-fullwidth">
                    <h2><label for="birthDate">Birthday</label></h2>
                    <input type="date" id="birthDate" name="birthDate"   value="" required>
                </div>

                <!-- user description/about me -->
                <div class="input-fullwidth">
                    <h2><label for="aboutme">Tell us something about you</label></h2>
                    <textarea id="aboutme" name="aboutme" placeholder="..." value="" required></textarea>
                </div>

                <!-- choose tag -->
                <div class="input-fullwidth">
                    <h2><label for="tag">Pick one subject you really like</label></h2>
                    <select id="tag" name="tag">
                        <option value="Sport">Sport</option>
                        <option value="Traveling">Traveling</option>
                        <option value="Cooking">Cooking</option>
                        <option value="Music">Music</option>
                        <option value="Gaming">Gaming</option>
                        <option value="Dancing">Dancing</option>
                        <option value="Reading">Reading</option>
                        <option value="Movies/Series">Movies/Series</option>
                    </select>
                </div>

                <!-- password input -->
                <div class="input-halfwidth">
                    <h2><label for="password1">Password</label></h2>
                    <input type="password" id="password1" name="password1" value="" required>
                </div>
                <!-- repeat password-->
                <div class="input-halfwidth">
                    <h2><label for="password2">Retype Password</label></h2>
                    <input type="password" id="password2" name="password2" value="" required>
                </div>

                <!-- Error output test -->
                <div class="input-fullwidth">
                    <h2 style="text-align: center" th:text="${errorMsg}"></h2>
                </div>

                <!-- create profile button-->
                <div class="input-fullwidth">
                    <input type="submit" class="button" onclick="return confirm('Submit information?')" value="Submit">
                </div>

            </div>
        </form>
    </div>
</div>


</body>
</html>