<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login site</title>
    <link rel="stylesheet" href="welcomestyle.css">
</head>
<body>

<!-- Background video -->
<video autoplay muted loop id="bgVideo">
    <source src="/videos/red_roses.mp4" type="video/mp4">
</video>

<!-- Login functions -->
<div class ="content">
    <h1>Dating</h1>
    <p>made easier</p>
    <a href="/createProfile">
        <button class="button">create profile</button>
    </a>
    <a href="/logIn">
        <button class="button">log in</button>
    </a>
</div>

</body>
</html>