<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="welcomestyle.css">
</head>
<body>

<div class="bg">

    <!-- Background video -->
    <video autoplay muted loop id="bgVideo">
        <source src="https://static.videezy.com/system/resources/previews/000/043/636/original/200206ValentineHM08.mp4" type="video/mp4">
    </video>

    <!-- Login functions -->
    <div class ="content-welcome">
        <h1>Dating</h1>
        <p>made easier</p>
        <form name="login" action="/createProfile" method="get">
            <input class="button" type="submit" value="create profile">
        </form>
        <form name="login" action="/logIn" method="get">
            <input class="button" type="submit" value="log in">
        </form>
    </div>

</div>

</body>
</html>